@charset UTF-8;
/* ================================================ */
/*               全体設定                */
/* ================================================ */

body {
	background-color:#ffffff;
	font-family:  YuGothic,'Yu Gothic', Osaka, sans-serif, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	letter-spacing: .2em;
	line-height: 30px;
}

h2 {
	font-size: 2.5rem;
	letter-spacing: .1em;
	line-height: 80px;
}

h3 {
	font-size: 2rem;
	letter-spacing: .1em;
	line-height: 40px;	
}

li {
	margin-bottom: 20px;
}

ul {
	margin-bottom: 40px;	
}

h3 img {
	width: 25px;
	padding: 0 60px;
}

/* ================================================ */
/*ヘッダー
/* ================================================ */
.ly_header {
	width: 100%;
	height: 100vh;
}

.slider {
	width: 100%;
	height: 100vh;
	overflow: hidden; /*ズームではみ出た分は隠す*/
}

.slider img {
	/*.slider下のsickによって制御される部分にクラス指定でスタイルが当たらないので、imgに対して当てる*/
	position: relative;
	width: 100%;
	height: 100vh;
	object-fit: cover;
  	object-position: center;
}

.slider_img_1 {
	/*見えている間、ズームインの繰り返し*/
	animation: animationZoom1 12s ease-out infinite;
}

.slider_img_2 {
	/*見えている間、ズームアウトの繰り返し*/
	animation: animationZoom2 12s ease-out infinite;
}

@keyframes animationZoom1 {
	from { transform:scale(1.1) }
	50% { transform:scale(1) }
    to { transform:scale(1.1)} 
}

@keyframes animationZoom2 {
	from { transform:scale(1) }
    50% { transform:scale(1.1) }
    to { transform:scale(1) }
}

.ly_header_ttl {
	padding: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 80vh;
}

.ly_header_ttl img {
	padding-top: 200px;
	width: 400px;
}

.ly_header_ttl p {
	padding-top: 50px;
	color: #ffffff;
}

.ly_header_r {
	position: absolute;
	bottom: 3%;
	right: 3%;
	float: right;
}

/* ================================================ */
/*共通のレイアウト、ヘルパー
/* ================================================ */
.ly_cont_wrapper {
	margin-top: 200px;
	display: flex;
	justify-content: space-between;
}

.ly_cont_innner__center {
	margin: 0 auto;
	text-align: center;
}

.el_right_fit_img {
	border-radius: 20px 0 0 20px;
	height: 100vh;
	width: 100%;
  	min-width: 0; /* 横にはみ出ないようにする*/
  	object-fit: cover;
  	object-position: center;
}

.el_left_fit_img {
	border-radius: 0 20px 20px 0;
	height: 100vh;
	width: 100%;
  	min-width: 0;
  	object-fit: cover;
  	object-position: center;
}

.hp_padding_r {
	padding-right: 50px !important;
}

.hp_padding_l {
	padding-left: 50px !important;
}

.hp_line_height_s {
	line-height: 20px;
}

/* ================================================ */
/*ボディ
/* ================================================ */

.bl_article_cont {
	margin-top: 69px;
}

.bl_article_cont p {
	margin-bottom: 35px;
}

.bl_howto {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.bl_howto_1 {
	flex-flow: row-reverse;
}

.bl_howto_main {
	margin-top: 100px;
}

.bl_howto_main_ttl {
	margin-bottom: 50px;
}

.bl_check_point {
	display: flex;
	justify-content: flex-start;
}

.el_check {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.bl_garally {
	padding: 0 100px;
}

.bl_garally img {
	width: 100%;
	border-radius: 20px;
}

.bl_garally_ttl {
	display: flex;
	justify-content: space-between;
}

.el_iphone_img {
	width: 200px;
}

.bl_dl_btns img {
	height: 50px;
}


/* ================================================ */
/*フッター*/
/* ================================================ */
.ly_footer {
	background-color: #464646;
	height: 100px;
	margin-top: 200px;
	padding: 100px;
}


/*================================================
Tablet : 画面の横幅が768pxまで
==================================================*/
@media screen and (max-width: 768px){

body {
	letter-spacing: .1em;
	line-height: 25px;
}

h2 {
	font-size: 2rem;
	letter-spacing: .1em;
	line-height: 50px;
}

h3 {
	font-size: 1.5rem;
	letter-spacing: .1em;
	line-height: 40px;	
}

li {
	margin-bottom: 15px;
}

ul {
	margin-bottom: 30px;	
}

h3 img {
	width: 20px;
	padding: 0 40px;
}


/*================================================
レイアウト、ヘルパー
==================================================*/

.ly_header {
	height: 100vh;
	background-image: url("images/top_kv_pc_01.jpg");
	background-size: cover; /*めいいっぱいに表示*/
	background-position: center;
}

.ly_cont_wrapper {
	margin-top: 90px;
}

.hp_padding_r {
	padding-right: 40px !important;
}

.hp_padding_l {
	padding-left: 40px !important;
}

.ly_header_ttl img {
	padding-top: 400px;
	width: 300px;
}


/*================================================
ボディ
==================================================*/

.bl_howto_main {
	margin-top: 40px;
}

.el_right_fit_img {
    height: 30vh;
    min-width: 0;
}

.el_left_fit_img {
	height: 350px;
	width: 65vh;
    min-width: 0;
}

.tb_step1_img {
	display: none;
}

.bl_howto {
	display: block;
}

.tb_step1_img {
	display: none;
}

.bl_garally {
	padding: 0 50px; 
}

.ly_footer {
	margin-top: 150px;
}

}

/*================================================
Smartphone :  画面の横幅が640pxまで
=================================================*/
@media screen and (max-width:640px){

body {
	font-size: .8rem;
	line-height: 20px;	
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.2rem;
	letter-spacing: .05em;
	line-height: 30px;	
}

li {
	margin-bottom: 10px;
}

ul {
	margin-bottom: 20px;	
}

h3 img {
	width: 15px;
	padding: 0 20px;
}


.ly_header {
	height: 100vh;
	background-image: url("images/top_kv_pc_01.jpg");
	background-size: cover; /*めいいっぱいに表示*/
	background-position: center;
}

.ly_cont_wrapper {
	margin-top: 50px;
}

.hp_padding_r {
	padding-right: 20px !important;
}

.hp_padding_l {
	padding-left: 20px !important;
}

.ly_header_ttl img {
	padding-top: 200px;
	width: 80%;
}

.el_right_fit_img {
    height: 30vh;
    min-width: 0;
    width: 100%;
}

.el_left_fit_img {
	height: 350px;
	width: 80%;
    min-width: 0;
}

.bl_article_cont {
	margin-top: 40px;
}

.bl_garally {
	padding: 0;
	padding-right: 30px; 
}

.ly_footer img {
	width: 20vh;
}

.el_iphone_img {
	width: 20vh;
	margin-bottom: 50px;
}

.bl_dl_btns img {
    margin-top: 20px;
	height: 35px;
}

.ly_footer {
	margin-top: 100px;
}

.ly_footer li {
	text-align: center;
}

}