@charset UTF-8;
/* ================================================ */
/* 全体設定
/* ================================================ */
html{
  scroll-behavior: smooth;
}

body {
	background-color:#ffffff;
	font-family: Noto Sans JP,sans-serif, YuGothic,'Yu Gothic', Osaka, sans-serif, Verdana, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
	letter-spacing: .2em;
	line-height: 30px;
	font-weight: 300;
}

strong {
	font-size: 1.2rem;
}

h2 {
	font-size: 2.5rem;
	letter-spacing: .1em;
	line-height: 80px;
	font-weight: 400;
}

h3 {
	font-size: 2rem;
	letter-spacing: .1em;
	line-height: 40px;	
}

li {
	margin-bottom: 20px;
}

ul {
	margin-bottom: 40px;	
}

h3 img {
	width: 25px;
	padding: 0 60px;
}

@media screen and (max-width: 768px){

	body {
		letter-spacing: .1em;
		line-height: 25px;
	}

	h2 {
		font-size: 2rem;
		letter-spacing: .1em;
		line-height: 50px;
	}

	h3 {
		font-size: 1.5rem;
		letter-spacing: .1em;
		line-height: 40px;	
	}

	li {
		margin-bottom: 15px;
	}

	ul {
		margin-bottom: 30px;	
	}

	h3 img {
		width: 20px;
		padding: 0 40px;
	}
}

/* sp */
@media screen and (max-width:640px){

	body {
		font-size: .8rem;
		line-height: 20px;	
	}

	h2 {
		font-size: 1.5rem;
	}

	h3 {
		font-size: 1.2rem;
		letter-spacing: .05em;
		line-height: 30px;	
	}

	li {
		margin-bottom: 10px;
	}

	ul {
		margin-bottom: 20px;	
	}

	h3 img {
		width: 15px;
		padding: 0 20px;
	}
}

/* ================================================ */
/* 共通レイアウト
/* ================================================ */

.ly_section {
	margin-top: 200px;
	display: flex;
	justify-content: space-between;
}

.ly_innner__center {
	margin: 0 auto;
	text-align: center;
}

@media screen and (max-width: 768px){
	.ly_section {
		margin-top: 90px;
	}
}

/* sp */
@media screen and (max-width:640px){
	.ly_section {
		margin-top: 80px
	}
}

/* ================================================ */
/* ヘルパー
/* ================================================ */

.hp_padding_r {
	padding-right: 50px !important;
}

.hp_padding_l {
	padding-left: 50px !important;
}

.hp_line_height_s {
	line-height: 20px;
}

.hp_effect_fade {
	opacity: 0;
	transform: translate(0, 45px);
	transition: all 3000ms;
}

.hp_effect_fade.hp_effect_scroll {
	opacity: 1;
	transform: translate(0, 0);
}

.hp_flex_reverse {
	flex-flow: row-reverse;
}

@media screen and (max-width: 768px){
	.hp_padding_r {
		padding-right: 40px !important;
	}

	.hp_padding_l {
		padding-left: 40px !important;
	}

	.hp_delete_element {
		display: none;
	}
}

/* sp */
@media screen and (max-width:640px){
	.hp_padding_r {
		padding-right: 20px !important;
	}

	.hp_padding_l {
		padding-left: 20px !important;
	}
}

/* ================================================ */
/* 共通ブロック
/* ================================================ */
.bl_media {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.bl_media_body {
	margin-top: 100px;
}

.bl_media_ttl {
	margin-bottom: 50px;
}

@media screen and (max-width: 768px){
	.bl_media {
		display: block;
		height: 80vh;
	}

	.bl_media_body {
		margin-top: 40px;
	}

	.bl_media_body {
		margin-top: 0;
	}
}

/* ================================================ */
/* 共通エレメント
/* ================================================ */
/* sp */
@media screen and (max-width:640px){
	.el_iphone_img {
		width: 20vh;
		margin-bottom: 50px;
	}

	.el_h_arranged_img img {
	    margin-top: 20px;
		height: 35px;
	}
}

.el_check_icon {
	margin-right: 10px;
	width: 20px;
	height: 20px;
}

.el_w200_img {
	width: 200px;
}


/* ================================================ */
/* ヘッダー
/* ================================================ */
.header_slider {
	width: 100%;
	height: 100vh;
	overflow: hidden; /*ズームではみ出た分は隠す*/
}

.header_slider img {
	/*.slider下のsickによって制御される部分にクラス指定でスタイルが当たらないので、imgに対して当てる*/
	position: relative;
	width: 100%;
	height: 100vh;
	object-fit: cover;
  	object-position: center;
}

.slider_img_1 {
	/*見えている間、ズームインの繰り返し*/
	animation: animationZoom1 12s ease-out infinite;
}

.slider_img_2 {
	/*見えている間、ズームアウトの繰り返し*/
	animation: animationZoom2 12s ease-out infinite;
}

@keyframes animationZoom1 {
	from { transform:scale(1.1) }
	60% { transform:scale(1) }
    to { transform:scale(1.1)} 
}

@keyframes animationZoom2 {
	from { transform:scale(1) }
    40% { transform:scale(1.1) }
    to { transform:scale(1) }
}

.ly_header_ttl {
	padding: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 80%;
	height: 80vh;
}

.ly_header_ttl img {
	padding-top: 200px;
	width: 400px;
}

.ly_header_ttl p {
	padding-top: 50px;
	color: #ffffff;
}

.ly_header_r {
	position: absolute;
	bottom: 3%;
	right: 3%;
	float: right;
	color: #ffffff;
}

.ly_header_r:hover {
	animation: animationZoomInS 0.5s ease-out normal;
	animation-fill-mode:forwards
}

@keyframes animationZoomInS {
    to { transform:scale(1.2)}
}

@media screen and (max-width: 768px){
	.ly_header {
	height: 100vh;
	background-image: url("images/top_kv_pc_01.jpg");
	background-size: cover; /*めいいっぱいに表示*/
	background-position: center;
	}

	.ly_header_ttl img {
		padding-top: 400px;
		width: 300px;
	}
}

/* sp */
@media screen and (max-width:640px){
	.ly_header {
		height: 100vh;
		background-image: url("images/top_kv_pc_01.jpg");
		background-size: cover; /*めいいっぱいに表示*/
		background-position: center;
	}

	.ly_header_ttl img {
		padding-top: 200px;
		width: 80%;
	}
}

/* ================================================ */
/* ハウツー
/* ================================================ */

.bl_article_cont {
	margin-top: 69px;
}

.bl_article_cont p {
	margin-bottom: 35px;
}

.el_right_fit_img {
	border-radius: 20px 0 0 20px;
	height: 100vh;
	width: 100%;
  	min-width: 0; /* 横にはみ出ないようにする*/
  	object-fit: cover;
  	object-position: center;
}

.el_right_fit_img_zooming_wrapper {
	border-radius: 20px 0 0 20px;
	height: 100%;
	width: 100%;
	overflow: hidden; /*ズームではみ出た分は隠す*/
}

.el_right_fit_img:hover {
	animation: animationZoomIn 1s ease-out normal;
	animation-fill-mode:forwards
}

@keyframes animationZoomIn {
    to { transform:scale(1.3)}
}

.el_left_fit_img {
	border-radius: 0 20px 20px 0;
	height: 100vh;
	width: 100%;
  	min-width: 0;
  	object-fit: cover;
  	object-position: center;
}

.el_left_fit_img_zooming_wrapper {
	border-radius: 0 20px 20px 0;
	height: 100%;
	width: 100%;
	overflow: hidden; /*ズームではみ出た分は隠す*/
}

.el_left_fit_img:hover {
	animation: animationZoomIn 1s ease-out normal;
	animation-fill-mode:forwards
}

.el_circle_icon_wrapper {
	border: solid 2px #f1f1f1;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 50px;
	text-align: center;
    line-height: 160px;
}

.bl_check_point {
	display: flex;
	justify-content: flex-start;
}

.el_h_arranged_img img {
	height: 50px;
}

@media screen and (max-width: 768px){
	.el_right_fit_img_zooming_wrapper {
		height: 35vh;
	}

	.el_left_fit_img_zooming_wrapper {
		height: 35vh;
	}

	.bl_media {
		display: block;
		height: 80vh;
	}

	.bl_media_body {
		margin-top: 40px;
	}

	.el_right_fit_img {
	    height: 30vh;
	    min-width: 0;
	}

	.el_left_fit_img {
		height: 30vh;
		width: 65vh;
	    min-width: 0;
	}

	.bl_media_body {
		margin-top: 0;
	}
}

/* sp */
@media screen and (max-width:640px){
	.el_right_fit_img {
	    height: 30vh;
	    min-width: 0;
	    width: 100%;
	}

	.el_left_fit_img {
		height: 30vh;
		width: 80%;
	    min-width: 0;
	}

	.el_iphone_img {
		width: 20vh;
		margin-bottom: 50px;
	}

	.el_h_arranged_img img {
	    margin-top: 20px;
		height: 35px;
	}
}

/* ================================================ */
/* インタビュー
/* ================================================ */

.bl_garally {
	width: 100%;
	padding: 0 100px;
	overflow: hidden;
}

.bl_garally_ttl {
	display: flex;
	justify-content: space-between;
}

.article_slider img {
	height: 50vh;
	border-radius: 20px;
}

@media screen and (max-width: 768px){
	.bl_garally {
		padding: 0 50px; 
	}
}

/* sp */
@media screen and (max-width:640px){
	.bl_garally {
		padding: 0;
		padding-right: 30px; 
	}
}

/* ================================================ */
/* フッター
/* ================================================ */

.ly_footer {
	background-color: #464646;
	height: 100px;
	margin-top: 200px;
	padding: 100px;
}

@media screen and (max-width: 768px){
	.ly_footer {
		margin-top: 150px;
	}
}

/* sp */
@media screen and (max-width:640px){
	.ly_footer img {
		width: 20vh;
	}

	.ly_footer {
	margin-top: 100px;
	}

	.ly_footer li {
		text-align: center
	}
}